<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <title>@ViewData["Title"] - DriveBots</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">DriveBots</span>
        </div>
    </nav>

    <div class="main-content">
        @RenderBody()
    </div>
    
</body>




