<head>
    <link rel="stylesheet" href="~/css/admin.css" />

</head>

<body>
    <div class="main-content">
        @RenderBody()
    </div>
    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink(
                                     linkText: "Login",
                                     actionName: "Login",
                                     controllerName: "Home",
                                     routeValues: null,
                                     htmlAttributes: new { @class = "nav-link text-dark" }
                                     )
</body>
