<!DOCTYPE HTML>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1 ">
	<title>DriveBots:Botswana's Digital Transport Services </title>


</head>
<body>
	<header>
		<div class="brand">
			<img src="./logo-1.png" alt="">
			<a href="./index.html" class="logo">DriveBots:Botswana's Digital Transport Services</a>
		</div>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navbar" id="navbar">
			<a href="./index.html" class="active">Home</a>
			<a href="./services.html" class="active">Services</a>
			<a href="./aboutus.html" class="active">About Us</a>
			<a href="./contactus.html" class="active">Contact us</a>
			<a href="./login.html" class="active">Login</a>
		</ul>

	</header>
</body>

</html>
